
<div class="d-flex flex-column justify-content-center align-items-center col-12 col-md-12 col-lg-12">
  <h1>AUTO COMPLETE Directive</h1>
  <form [formGroup]="profileForm" (ngSubmit)="submit()" class="col-10 col-lg-4 col-md-8">
    <div class="col-12 col-lg-12 col-md-12">
      <label appAutocomplete labelForAttribute="firstName" class="form-label" > First Name</label>
      <input appAutocomplete="firstName" class="form-control" type="text" />
    </div>

    <div class="col-12 col-lg-12 col-md-12">
      <label appAutocomplete labelForAttribute="lastName" class="form-label" >Last Name</label>
      <input appAutocomplete="lastName" class="form-control" type="text" />
    </div>
    <div class="col-12 col-lg-12 col-md-12">
      <label appAutocomplete labelForAttribute="streetAddress1"  class="form-label" >Street Address 1</label>
      <input appAutocomplete="streetAddress1" class="form-control" type="text" />
    </div>
    <div class="col-12 col-lg-12 col-md-12">
      <label appAutocomplete labelForAttribute="streetAddress2" class="form-label" >Street Address 2</label>
      <input appAutocomplete="streetAddress2" class="form-control" type="text" />
    </div>

    <div class="col-12 col-lg-12 col-md-12">
      <label appAutocomplete labelForAttribute="city" class="form-label" >City</label>
      <input appAutocomplete="city" class="form-control" type="text" />
    </div>

    <div class="col-12 col-lg-12 col-md-12">
      <label appAutocomplete labelForAttribute="country" class="form-label" >Country</label>
      <input appAutocomplete="country" class="form-control" type="text" />
    </div>

    <div class="col-12 col-lg-12 col-md-12">
      <label appAutocomplete labelForAttribute="province" class="form-label" >Province</label>
      <input appAutocomplete="province" class="form-control" type="text" />
    </div>

    <div class="col-12 col-lg-12 col-md-12 mt-2">
      <button class="btn btn-primary ms-2 float-end" type="reset" >Reset</button>
      <button class="btn btn-primary float-end" type="submit" >Submit</button>
    </div>
  </form>
</div>
